<div class="container">
  <div id="content">
    <h2>Add a rating between 1 and 5</h2> <br />

    <%= form_for([@title, @rating]) do |f|%>
      <%= f.label :score %>
      <%= f.text_field :score %>
      <%= f.submit %>
    <% end %>
    <%= flash[:error] %>
  </div>
</div>
