<div class="container">
  <div id="content">
  <h1><%=@title.name%></h1>

    <%= image_tag @title.image_path %> <br />

  <%= link_to "Rate this Title!", new_title_rating_path(@title) %><br />
  <%= "Average score: #{@average}" %> <br />
  <%= link_to "Back to All Titles", titles_path %>
  </div>
</div>
